					<?php if(isset($this->saved) && $this->saved){ ?>
					<p class="alert alert-success" id="savenotify">Saved.</p>
					<script type="text/javascript">
					$('document').ready(function(){
						setTimeout(function(){
							$('#savenotify').fadeOut(1000 , function(){
								$('#savenotify').remove();
							});
						},1000);
					});
					</script>
					<?php } ?>
					
				    <script type="text/javascript">
						var vat_rate = <?php echo $this->invoice->getGlobalTaxRate() ?>;
					</script>
					<form method="post" action="<?php echo $this->submit_action?>">
					<input type="hidden" name="save" value="save" />
					<div id="sender_info_box">
						<!--<img src="media/sender_logo.jpg" alt="Sending Company Name" id="sender_logo"/>-->
						<?php echo $this->invoice->filedata['invoice_from_company'] ?>
						<div class="clear"></div>
						<p><?php echo $this->invoice->filedata['invoice_from_address1'] ?>
						<?php
							for($i=2; $i<=5; $i++){
								if($this->invoice->filedata['invoice_from_address' . $i]){
									echo "<br/>\n" .$this->invoice->filedata['invoice_from_address' . $i];
								}
							}
							if($this->invoice->filedata['invoice_from_postcode']){
								echo "<br/>\n" .$this->invoice->filedata['invoice_from_postcode'];
							}
							if($this->invoice->filedata['invoice_from_country_code']){
								echo "<br/>\n" .$this->invoice->filedata['invoice_from_country_code'];
							}
						?></p>
						<?php 
							if($this->invoice->filedata['invoice_from_vatnumber']){
								echo "<p><strong>VAT Number:</strong>";
								echo " " . $this->invoice->filedata['invoice_from_vatnumber'];
								echo "</p>";
							}
						?>
						<p><strong>Date:</strong>
							<?php 
								$date_array = explode('-' , $this->invoice->filedata['invoice_date']);
							?>
							<label for="invoice_date_d" class="hidden_label">Day:</label><input type="text" id="invoice_date_d" name="invoice_date_d" class="day" maxlength="2" value="<?php echo $date_array[2]?>"/> 
							<label for="invoice_date_m" class="hidden_label">Month</label><input type="text" id="invoice_date_m"  name="invoice_date_m" class="month" maxlength="2" value="<?php echo $date_array[1]?>"/>
							<label for="invoice_date_y" class="hidden_label">Year</label><input type="text" id="invoice_date_y" name="invoice_date_y" class="year" maxlength="4" value="<?php echo $date_array[0]?>"/>
						</p>
						<p><strong>Reference:</strong> <?php 
						if($this->invoice->id){
							echo $this->invoice->id; 
						} else {
							echo 'PENDING';
						} 
						?></p>
					</div>
					<div id="billing_address_box">
						<div id="bill_title_wrap">
							<h2>Sales Invoice</h2>
						</div>
						<div class="customer_input_wrap">
							<label>Customer</label>
							<input type="hidden" name="contact_id" id="contact_id" value="<?php echo htmlspecialchars($this->invoice->filedata['contact_id'])?>" />
							<input type="text" name="invoice_to_company" id="invoice_company" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_company'])?>"  onKeyUp="quickContactSearch()" autocomplete="off" />
							<div id="contactsearchresults">
							</div>
						</div>
					
						
						<div id="ccol1">
							<label>Address</label>
							<input type="text" name="invoice_to_address1" id="invoice_address1" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_address1'])?>" />
							<input type="text" name="invoice_to_address2" id="invoice_address2" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_address2'])?>" />
							<input type="text" name="invoice_to_address3" id="invoice_address3" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_address3'])?>" />
							<input type="text" name="invoice_to_address4" id="invoice_address4" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_address4'])?>" />
							<input type="text" name="invoice_to_address5" id="invoice_address5" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_address5'])?>" />
						</div>
						<div id="ccol2">
							<label>Postcode</label>
							<input type="text" name="invoice_to_postcode" id="invoice_postcode" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_postcode'])?>" />
							<label>Country</label>
							<select name="invoice_to_country_code" id="invoice_country">
								<option value=""></option>
								<?php foreach($this->countrycodes as $countrycode) { ?>
								<option value="<?php echo htmlspecialchars($countrycode['country_code']) ?>"<?php 
								if($this->invoice->filedata['invoice_to_country_code'] == $countrycode['country_code']) {
									echo ' selected="selected"';
								} ?>><?php echo htmlspecialchars($countrycode['country_name'])?></option>
								<?php } ?>
							</select>
							<label>VAT Number</label>
							<input type="text" name="invoice_to_vatnumber" id="invoice_vatnumber" value="<?php echo htmlspecialchars($this->invoice->filedata['invoice_to_vatnumber'])?>" />
						</div>
					</div>
					
					
					<div class="clear"></div>
					<table class="invoice" id="invoice">
						<thead>
							<tr>
								<th>Description</th>
								<th>Total</th>
								<th class="vat">VAT</th>
								<th>Total Inc</th>
							</tr>
						</thead>
						<tbody><?php
							$item_count = 1;
							for($i=0; $i<count($this->invoice->items); $i++){
								echo '
									<tr>
										<td class="description_cell"><textarea name="itemkey_' . $item_count . '" class="desc" rows="1" cols="15">' . htmlspecialchars($this->invoice->items[$i]['description']) . '</textarea></td>
										<td><input name="item_' . $item_count . '_total" class="total" value="' . number_format($this->invoice->items[$i]['line_total'] , 2) . '"></input></td>
										<td class="tax"><span id="item_' . $item_count . '_tax" value="' . number_format($this->invoice->items[$i]['line_total_tax'] , 2) . '"></span></td>
										<td class="totalplustax"><span id="item_' . $item_count . '_totalplustax" value="' . number_format($this->invoice->items[$i]['line_total_inc'] , 2) . '"></span></td>
									</tr>
								';
								$item_count ++;
							}
							echo '
								<tr>
									<td class="description_cell"><textarea name="itemkey_' . $item_count . '" class="desc" rows="1" cols="15"></textarea></td>
									<td><input name="item_' . $item_count . '_total" class="total" value=""></input></td>
									<td class="tax"><span id="item_' . $item_count . '_tax"></span></td>
									<td class="totalplustax"><span id="item_' . $item_count . '_totalplustax"></span></td>
								</tr>
							';
						?>
						</tbody>
						<thead class="totals">
							<tr>
								<td>Total</td>
								<td id="total"></td>
								<td id="taxtotal"></td>
								<td id="invoicetotalplustax"></td>
							</tr>
						</thead>
					</table>

					<div class="clear"></div>
					
					<div id="buttons_box">
						<ul>
							<li><input type="submit" name="repeat" value="Repeat" class="submit btn"/></li>
							<li><input type="submit" name="pdf" value="PDF" class="submit btn"/></li>
							<li><input type="submit" value="Save" class="submit btn btn-success"/></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					
				</form>