			</div>
			
			<div id="left_column">
				<h1><a href="/">Invoice Software Logo</a></h1>
				
				<ul id="nav">
					<li><a href="/admin/invoices">Sales Invoices</a><?php if(isset($this->view_area) && $this->view_area == 'invoices'){ ?>
						<ul>
							<li><a href="/admin/invoices">Oustanding</a></li>
							<li><a href="/admin/editinvoice/new">New Invoice</a></li>
							<li><a href="/admin/invoices/?status=paid">Paid Invoices</a></li>
							<li><a href="/admin/repeatinvoices">Repeat Invoices</a></li>
						</ul>	
					<?php } ?></li>
					<li><a href="/admin/purchases">Purchases</a><?php if(isset($this->view_area) && $this->view_area == 'purchases'){ ?>
						<ul>
							<li><a href="/admin/purchases">Unpaid Invoices</a></li>
							<li><a href="/admin/editpurchase/new">New Purchase</a></li>
							<li><a href="/admin/purchases/?status=paid">Paid Invoices</a></li>
						</ul>	
					<?php } ?></li>
					<li><a href="/admin/reports/">Reports</a><?php if(isset($this->view_area) && $this->view_area == 'reports'){ ?>
						<ul>
							<li><a href="/admin/reports">Overview</a></li>
							<li><a href="/admin/yearend">Year End</a></li>
						</ul>	
					<?php } ?></li>
					<li><a href="/admin/contacts/">Contacts</a><?php if(isset($this->view_area) && $this->view_area == 'contacts'){ ?>					
						<ul>
							<li><a href="/admin/contacts" class="selected">View Contacts</a></li>
						<li><a href="/admin/contact/new">New Contact</a></li>
						</ul>
					
					<?php } ?></li>
					<li><a href="/admin/account/">My Account</a><?php if(isset($this->view_area) && $this->view_area == 'account'){ ?>
						<ul>
							<li><a href="/admin/account">Account</a></li>
							<li><a href="/admin/user">User</a></li>
						</ul>	
					<?php } ?></li>
					<li><a href="/logout/">Logout</a></li>
				</ul>
				
			</div>
			
			<div id="footer">
				<p>&copy; <?php echo date('Y'); ?> Invent Partners</p>
			</div>
			
		</div>
	</body>
</html>