<style type="text/css">
	.editform label{
		display: block;
		clear: left;
	}
</style>

<h2><?php echo htmlspecialchars($this->view_title); ?></h2>

<?php if(isset($this->saved) && $this->saved){ ?>
<p class="alert alert-success" id="savenotify">Saved.</p>
<script type="text/javascript">
$('document').ready(function(){
	setTimeout(function(){
		$('#savenotify').fadeOut(1000 , function(){
			$('#savenotify').remove();
		});
	},1000);
});
</script>
<?php } ?>

<form method="post" action="<?php echo $this->submit_action?>" class="stdform">
	<input type="hidden" name="save" value="save" />
	<!--<input type="hidden" name="contact_id" id="contact_id" value="<?php echo htmlspecialchars($this->contact->filedata['contact_id'])?>" />-->

	<div class="formcol">
		<h3>Company Details</h3>
		<label>Company Name</label>
		<input type="text" name="contact_company" id="contact_company" value="<?php echo htmlspecialchars($this->contact->filedata['contact_company'])?>"  />
		
		<label>Address</label>
		<input type="text" name="contact_address1" id="contact_address1" value="<?php echo htmlspecialchars($this->contact->filedata['contact_address1'])?>" />
		<input type="text" name="contact_address2" id="contact_address2" value="<?php echo htmlspecialchars($this->contact->filedata['contact_address2'])?>" />
		<input type="text" name="contact_address3" id="contact_address3" value="<?php echo htmlspecialchars($this->contact->filedata['contact_address3'])?>" />
		<input type="text" name="contact_address4" id="contact_address4" value="<?php echo htmlspecialchars($this->contact->filedata['contact_address4'])?>" />
		<input type="text" name="contact_address5" id="contact_address5" value="<?php echo htmlspecialchars($this->contact->filedata['contact_address5'])?>" />
	
		<label>Postcode</label>
		<input type="text" name="contact_postcode" id="contact_postcode" value="<?php echo htmlspecialchars($this->contact->filedata['contact_postcode'])?>" />
		<label>Country</label>
		<select name="country_code" id="form_country_code">
			<option value=""></option>
			<?php foreach($this->countrycodes as $countrycode) { ?>
			<option value="<?php echo htmlspecialchars($countrycode['country_code']) ?>"<?php 
			if($this->contact->filedata['country_code'] == $countrycode['country_code']) {
				echo ' selected="selected"';
			} ?>><?php echo htmlspecialchars($countrycode['country_name'])?></option>
			<?php } ?>
		<label>VAT Number</label>
		<input type="text" name="contact_vatnumber" id="contact_vatnumber" value="<?php echo htmlspecialchars($this->contact->filedata['contact_vatnumber'])?>" />
	</div>
	
	<div class="formcol">
		<h3>Contact Person</h3>
		<label>First Name</label>
		<input type="text" name="contact_firstname" id="contact_firstname" value="<?php echo htmlspecialchars($this->contact->filedata['contact_firstname'])?>" />
		<label>Last Name</label>
		<input type="text" name="contact_lastname" id="contact_lastname" value="<?php echo htmlspecialchars($this->contact->filedata['contact_lastname'])?>" />
		<label>Contact Email</label>
		<input type="text" name="contact_email" id="contact_email" value="<?php echo htmlspecialchars($this->contact->filedata['contact_email'])?>" />
	</div>	
	<div class="clear"> </div>
	<button type="submit" name="submit" class="btn btn-success" />Save</button>
</form>