				<?php if(isset($this->saved) && $this->saved){ ?>
				<p class="alert alert-success" id="savenotify">Saved.</p>
				<script type="text/javascript">
				$('document').ready(function(){
					setTimeout(function(){
						$('#savenotify').fadeOut(1000 , function(){
							$('#savenotify').remove();
						});
					},1000);
				});
				</script>
				<?php } ?>
				
				<form method="post" action="<?php echo $this->submit_action?>">
					<input type="hidden" name="save" value="save" />
					<div id="sender_info_box">
						<?php echo $this->purchase->filedata['purchase_to_company'] ?>
						<div class="clear"></div>
						<p><?php echo $this->purchase->filedata['purchase_to_address1'] ?>
						<?php
							for($i=2; $i<=5; $i++){
								if($this->purchase->filedata['purchase_to_address' . $i]){
									echo "<br/>\n" .$this->purchase->filedata['purchase_to_address' . $i];
								}
							}
							if($this->purchase->filedata['purchase_to_postcode']){
								echo "<br/>\n" .$this->purchase->filedata['purchase_to_postcode'];
							}
							if($this->purchase->filedata['purchase_to_country_code']){
								echo "<br/>\n" .$this->purchase->filedata['purchase_to_country_code'];
							}
						?></p>
						<p><strong>Date:</strong>
							<?php 
								$date_array = explode('-' , $this->purchase->filedata['purchase_date']);
							?>
							<label for="purchase_date_d" class="hidden_label">Day:</label><input type="text" id="purchase_date_d" name="purchase_date_d" class="day" maxlength="2" value="<?php echo $date_array[2]?>"/> 
							<label for="purchase_date_m" class="hidden_label">Month</label><input type="text" id="purchase_date_m"  name="purchase_date_m" class="month" maxlength="2" value="<?php echo $date_array[1]?>"/>
							<label for="purchase_date_y" class="hidden_label">Year</label><input type="text" id="purchase_date_y" name="purchase_date_y" class="year" maxlength="4" value="<?php echo $date_array[0]?>"/>
						</p>
						<p>
							<label for="purchase_reference"><strong>Invoice Reference:</strong></label>
							<input type="text" id="purchase_reference" name="purchase_reference" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_reference'])?>" />
							
						<?php 
						/*
						if($this->purchase->id){
							echo $this->purchase->id; 
						} else {
							echo 'PENDING';
						} 
						*/
						?></p>
						<p>
							<label><strong>Total Ex VAT:</strong></label>
							<input type="text" name="purchase_total"  value="<?php echo number_format($this->purchase->filedata['purchase_total'] , 2)?>" />
						</p>
						<p>
							<label><strong>VAT:<strong></label>
							<input type="text" name="purchase_tax"  value="<?php echo number_format($this->purchase->filedata['purchase_tax'] , 2)?>" />
						</p>
					</div>
					<div id="billing_address_box">
						<div id="bill_title_wrap">
							<h2>Purchase</h2>
						</div>
						<div class="customer_input_wrap">
							<label>Purchased From:</label>
							<input type="hidden" name="contact_id" id="contact_id" value="<?php echo htmlspecialchars($this->purchase->filedata['contact_id'])?>" />
							<input type="text" name="purchase_from_company" id="invoice_company" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_company'])?>"  onKeyUp="quickContactSearch()" autocomplete="off" />
							<div id="contactsearchresults">
							</div>
						</div>
					
						
						<div id="ccol1">
							<label>Address</label>
							<input type="text" name="purchase_from_address1" id="invoice_address1" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_address1'])?>" />
							<input type="text" name="purchase_from_address2" id="invoice_address2" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_address2'])?>" />
							<input type="text" name="purchase_from_address3" id="invoice_address3" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_address3'])?>" />
							<input type="text" name="purchase_from_address4" id="invoice_address4" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_address4'])?>" />
							<input type="text" name="purchase_from_address5" id="invoice_address5" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_address5'])?>" />
						</div>
						<div id="ccol2">
							<label>Postcode</label>
							<input type="text" name="purchase_from_postcode" id="invoice_postcode" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_postcode'])?>" />
							<label>Country</label>
							<select name="purchase_from_country_code" id="invoice_country">
								<option value=""></option>
								<?php foreach($this->countrycodes as $countrycode) { ?>
								<option value="<?php echo htmlspecialchars($countrycode['country_code']) ?>"<?php 
								if($this->purchase->filedata['purchase_from_country_code'] == $countrycode['country_code']) {
									echo ' selected="selected"';
								} ?>><?php echo htmlspecialchars($countrycode['country_name'])?></option>
							<?php } ?>
							</select>							
							<label>VAT Number</label>
							<input type="text" name="purchase_from_vatnumber" id="invoice_vatnumber" value="<?php echo htmlspecialchars($this->purchase->filedata['purchase_from_vatnumber'])?>" />
						</div>
					</div>

					<div class="clear"></div>
					
					<div id="buttons_box">
						<ul>
							<li><input type="submit" value="Save" class="submit btn btn-success"/></li>
						</ul>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					
				</form>