					<div id="sender_info_box">
						<!--<img src="media/sender_logo.jpg" alt="Sending Company Name" id="sender_logo"/>-->
						<?php echo $this->invoice->filedata['invoice_from_company'] ?>
						<div class="clear"></div>
						<p><?php echo $this->invoice->filedata['invoice_from_address1'] ?>
						<?php
							for($i=2; $i<=5; $i++){
								if($this->invoice->filedata['invoice_from_address' . $i]){
									echo "<br/>\n" .$this->invoice->filedata['invoice_from_address' . $i];
								}
							}
							if($this->invoice->filedata['invoice_from_postcode']){
								echo "<br/>\n" .$this->invoice->filedata['invoice_from_postcode'];
							}
							if($this->invoice->filedata['invoice_from_country_code']){
								echo "<br/>\n" .$this->invoice->filedata['invoice_from_country_code'];
							}
						?></p>
						<?php 
							if($this->invoice->filedata['invoice_from_vatnumber']){
								echo "<p><strong>VAT Number:</strong>";
								echo " " . $this->invoice->filedata['invoice_from_vatnumber'];
								echo "</p>";
							}
						?>
						<p><strong>Date:</strong>
							<?php 
								echo sqlDateTimeToDisplayDate($this->invoice->filedata['invoice_date']);
							?>
						</p>
						<p><strong>Reference:</strong> <?php 
						if($this->invoice->id){
							echo $this->invoice->id; 
						} else {
							echo 'PENDING';
						} 
						?></p>
						<p><strong>Status:</strong> <?php echo $this->invoice->filedata['invoice_status'] ?></p>
						
					</div>
					<div id="billing_address_box">
						<div id="bill_title_wrap">
							<h2>Sales Invoice</h2>
						</div>
						<div class="plain_text_address">
							<p><?php echo htmlspecialchars($this->invoice->filedata['invoice_to_company'])?>
							<?php
							for($i=1; $i<=5; $i++){
								if($this->invoice->filedata['invoice_to_address' . $i]){
									echo '<br/>';
									echo htmlspecialchars($this->invoice->filedata['invoice_to_address' . $i]);
								}
							}
							if($this->invoice->filedata['invoice_to_postcode']){
								echo '<br/>';
								echo htmlspecialchars($this->invoice->filedata['invoice_to_postcode']);
							}
							?>
						</div>
						
					</div>
					
					
					<div class="clear"></div>
					<table class="invoice" id="invoice">
						<thead>
							<tr>
								<th>Description</th>
								<th>Total</th>
								<th class="vat">VAT</th>
								<th>Total Inc</th>
							</tr>
						</thead>
						<tbody><?php
							$item_count = 1;
							for($i=0; $i<count($this->invoice->items); $i++){
								echo '
									<tr>
										<td class="description_cell">' . nl2br(htmlspecialchars($this->invoice->items[$i]['description'])) . '</td>
										<td>' . number_format($this->invoice->items[$i]['line_total'] , 2) . '</td>
										<td class="tax">' . number_format($this->invoice->items[$i]['line_total_tax'] , 2) . '</td>
										<td class="totalplustax">' . number_format($this->invoice->items[$i]['line_total_inc'] , 2) . '</td>
									</tr>
								';
								$item_count ++;
							}
						?>
						</tbody>
						<thead class="totals">
							<tr>
								<td>Total</td>
								<td id="total"><?php echo number_format($this->invoice->filedata['invoice_total'] , 2) ?></td>
								<td id="taxtotal"><?php echo number_format($this->invoice->filedata['invoice_tax'] , 2) ?></td>
								<td id="invoicetotalplustax"><?php echo number_format($this->invoice->filedata['invoice_total_inc'] , 2) ?></td>
							</tr>
						</thead>
					</table>

					<div class="clear"></div>
					
					<p style="text-align: right"><strong>Status:</strong> <?php echo $this->invoice->filedata['invoice_status'] ?></p>
					
					<?php if(is_array($this->reconcile_log['log']) && count($this->reconcile_log['log']) > 0){ ?>
					<div style="width: 300px; float: left;">
					<p><strong>Outstanding balance:</strong> £<?php echo number_format(($this->invoice->filedata['invoice_total_inc']) - $this->reconcile_log['amount'] , 2) ?>
					<p>Payment history:</p>
					<table class="table">
						<thead>
							<tr>
								<th>Date</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->reconcile_log['log'] as $item) { ?>
							<tr>
								<td><?php echo sqlDateTimeToDisplayDate($item['updated']) ?></td>
								<td>£<?php echo number_format($item['paymentreconcile_amount'] , 2) ?></td>
							</tr>
							<?php } ?>
						</tbody>
					</table>
					</div>
					<?php } ?>
					
					<div id="buttons_box">
						<ul>
							<?php if($this->invoice->filedata['invoice_status'] == 'outstanding') { ?>
							<li><a href="/admin/editinvoice/<?php echo $this->invoice->id ?>" class="btn btn-success">Edit</a></li>
							<?php } ?>
						<ul>
					</div>
					<div id="otheractions" class="btn-group dropup">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							Action
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<?php if($this->invoice->filedata['invoice_status'] == 'outstanding') { ?>
							<li><a href="/admin/invoices/?status=paid&amp;invoice_paid=<?php echo $this->invoice->id ?>">Mark as Paid</a></li>
							<li><a href="/admin/invoices/?status=paid&amp;invoice_void=<?php echo $this->invoice->id ?>">Void Invoice</a></li>
							<?php } else if($this->invoice->filedata['invoice_status'] == 'paid') { ?>
							<li><a href="/admin/invoices/?status=paid&amp;invoice_unpaid=<?php echo $this->invoice->id ?>">Mark as Unpaid</a></li>
							<li><a href="/admin/invoices/?status=paid&amp;invoice_void=<?php echo $this->invoice->id ?>">Void Invoice</a></li>
							<?php } else if($this->invoice->filedata['invoice_status'] == 'void') { ?>
							<li><a href="/admin/invoices/?status=paid&amp;invoice_paid=<?php echo $this->invoice->id ?>">Mark as Paid</a></li>
							<li><a href="/admin/invoices/?status=paid&amp;invoice_unpaid=<?php echo $this->invoice->id ?>">Mark as Unpaid</a></li>
							<?php } ?>
							<li><a href="/admin/invoice/<?php echo $this->invoice->id ?>?email=1">Email to Customer</a></li>
							<li><a href="/admin/invoice/<?php echo $this->invoice->id ?>?repeat=1">Make Repeat Invoice</a></li>
							<li><a href="/admin/invoice/<?php echo $this->invoice->id ?>/<?php echo $this->invoice->id ?>.pdf" target="_blank">PDF</a></li>
							<li><a href="/admin/editinvoice/<?php echo $this->invoice->id ?>?copy=1">Copy Invoice</a></li>
						</ul>
					</div>
					<div class="clear"></div>